body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: proxima-nova, sans-serif;
  background-color: #f7f7f7;
}

input {
  border: none;
  border-radius: 10px;
  background-color: #dbdbdb;
  padding: 10px;
  width: 300px;
  font-size: 20px;
}

* {
  position: relative;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.add-new-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
}

.sidebar-nav {
  background-color: #464545;
  height: 100%;
  grid-row: 1/-1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  transition: transform 0.8s cubic-bezier(0.075, 0.52, 0.165, 1);
}

.sidebar-nav-hidden {
  transform: translateX(-300px);
}

.card-container {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  transition: 0.5s;
  transform-style: preserve-3d;
}

.main-card-front,
.main-card-back {
  backface-visibility: hidden;
  position: absolute;
}

.main-card-back {
  transform: rotateY(180deg);
}

.card-container.flipme {
  transform: rotateY(180deg);
}

.sidebar-nav > .small-card {
  margin: 10px;
}

.small-card {
  width: 250px;
  height: 150px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: item 0.9s calc(var(--i, 0) * 0.09s) cubic-bezier(0.5, 0, 0.2, 1)
    both;
}

@keyframes item {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active-card {
  padding: 10px;
  border: 1px solid #77aaff;
  box-shadow: -1px 1px #77aaff, -2px 2px #77aaff, -3px 3px #77aaff,
    -4px 4px #77aaff, -5px 5px #77aaff;
}

.main-card {
  background-color: #fff;
  width: 700px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
}

.add-new {
  border: none;
  background-color: #fff;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
}

.plus {
  display: block;
  font-size: 20px;
}

h1 {
  grid-column: 2/-1;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

button.submit {
  border: none;
  background-color: #464545;
  color: #fff;
  padding: 15px 10px;
  border-radius: 10px;
  letter-spacing: 2px;
}

.relative {
  width: 700px;
  margin: 150px auto;
}
